<link rel="stylesheet" th:href="@{/resources/css/detail.css}"
	type="text/css" />
<div id="detail-table" class="hide">

	<!-- Employee Login Form  -->

	<form id="employee-login-form"
		action="javascript:authorization(email,password);" class="form-inline">
		<div id="employee-login-panel" class="hide">

			<table align="center">

				<tr>
					<td><label for="employee-email" id="email">email:</label></td>
					<td><input type="email" id="employee-email"
						style="width: 200px" /></td>
				</tr>
				<tr>
					<td><label for="employee-password" id="label">password:</label></td>
					<td><input type="password" id="emplyee-passworde"
						style="width: 200px" /></td>
				</tr>
			</table>
			<input type="submit" value="REGISTER" id="authorizationForm" />
		</div>
	</form>

	<!-- Registeration Form -->
	<div class="hide" id="registerForm">

		<form action="javascript:saveStudent();" id="newStudentForm"
			class="form-inline">


			<div th:if="${register!=NULL}">
				<span><u>Section</u></span>
				<table style="width: 100%;">
					<tr>
						<th>Name:</th>
						<th>Weekly Open</th>
						<th>Start Date</th>
						<th>Finish Date</th>
						<th>Start Time</th>
						<th>Finish Time</th>
					</tr>
					<tr th:if="${register!='INVALID'}" th:value="${register.id}"
						id="detail-register-id">
						<td th:text="${register.name}"></td>
						<td th:text="${register.dayType}"></td>
						<td th:text="${register.startDate}"></td>
						<td th:text="${register.endDate}"></td>
						<td th:text="${register.startTime}"></td>
						<td th:text="${register.endTime}"></td>
					</tr>
				</table>
			</div>

			<label for="Course-form-title" id="label">You took</label> <label
				for="course-name" id="label" th:if="${register!=NULL}"> :<span
				th:if="${register.course!=NULL }" th:text="${register.course.name}">&nbsp;Course</span>
			</label> <label for="course-name" id="label" th:if="${register!=NULL}">
				Fee is:<span th:if="${register.course!=NULL }"
				th:text="${register.course.fee}"></span>
			</label> <label for="Employee-form-title" id="label">Instructors :</label>

			<div th:if="${register!=NULL}" id="register-detail-table">


				<span><u>Teach By</u></span>
				<table style="width: 50%;">
					<tr>
						<th>Name:</th>
						<th>Position</th>
					</tr>
					<tr th:if="${register!='INVALID'}" th:value="${register.id}"
						id="detail-employee-id"
						th:each="employee:${register.employeeList}">
						<td th:text="${employee.name}"></td>
						<td th:text="${employee.position}"></td>
					</tr>
				</table>
			</div>
			<table align="center">
				<tr>
					<td colspan="2"><label for="Student-form-title">
							Student Registration Form</label></td>
				</tr>
				<tr>
					<td><label for="Student-name" id="label"> Name:</label></td>
					<td><input type="text" id="student-name" style="width: 200px" /></td>
				</tr>
				<tr>
					<td><label for="Student-name" id="label">Address:</label></td>
					<td><input type="text" id="student-address"
						style="width: 200px" /></td>
				</tr>
				<tr>
					<td><label for="Student-email" id="label"> Email:</label></td>
					<td><input type="email" id="student-email"
						style="width: 200px" /></td>
				</tr>
				<tr>
					<td><label for="Student-phonenumbe" id="label">Phone
							Number:</label></td>
					<td><input type="number" id="student-phonenumber"
						style="width: 200px" /></td>
				</tr>
				<tr>
					<td><label for="Student-age" id="label"> Age:</label></td>
					<td><input type="number" id="student-age" style="width: 200px" /></td>
				</tr>
			</table>








			<!-- <table>
				<tr>
					<td><label for="Course-form-title" id="label">The Course you took:</label></td>
				</tr>
				<tr>
				<td><label for="course-name" id="label" th:if="${register!=NULL}">
					Name:<span th:if="${register.course!=NULL }"
					th:text="${register.course.name}"></span>
				</label></td>
				</tr>
				
				<tr>
				<td><label for="course-name" id="label" th:if="${register!=NULL}">
					Fee:<span th:if="${register.course!=NULL }"
					th:text="${register.course.fee}"></span>
				</label></td>
				</tr>
				
			</table> -->
			<input type="submit" value="REGISTER" id="saveStudentForm" /> <input
				type="button" value="Cancel" id="cancelStudenttForm"
				onclick="document.getElementById('registerForm').className = 'hide'; document.getElementById('section-detail-table').className = 'show';" />
		</form>
	</div>


	<!-- Department Form -->

	<!-- Teacher Form -->
	<div class="hide" id="teacherForm">
		<form action="javascript:saveTeacher();" id="newTeacherForm">
			<label for="Teacher-name" id="label">Teacher Name:</label> <input
				type="text" id="teacher-name" style="width: 200px" /><br /> <label
				for="selectDepartment" id="label1">Select Department:</label> <select
				id="department" name="department">
				<option th:each="department : ${departmentList}"
					th:value="${department.boId}" th:text="${department.name}">
				</option>
			</select> <input type="submit" value="Save" id="saveTeacherForm" /> <input
				type="button" value="Cancel" id="cancelTeacherForm"
				onclick="document.getElementById('teacherForm').className = 'hide';
			document.getElementById('teacher-detail-table').className = 'show';" />
		</form>
	</div>
	<!-- Teacher Form -->

	<!-- Staff Form -->
	<div class="hide" id="staffForm">
		<form action="javascript:saveStaff();" id="newStaffForm">
			<label for="Staff-name" id="label">Staff Name:</label> <input
				type="text" id="staff-name" style="width: 200px" /><br /> <label
				for="selectDepartment" id="label2">Select Department:</label> <select
				id="department1" name="department">
				<option th:each="department : ${departmentList}"
					th:value="${department.boId}" th:text="${department.name}">
				</option>
			</select> <input type="submit" value="Save" id="saveStaffForm" /> <input
				type="button" value="Cancel" id="cancelStaffForm"
				onclick="document.getElementById('staffForm').className = 'hide';
			document.getElementById('staff-detail-table').className = 'show';" />
		</form>
	</div>
	<!-- Staff Form -->

	<!-- Major Form -->
	<div class="hide" id="majorForm">
		<form action="javascript:saveMajor();" id="newMajorForm">
			<label for="Major-name" id="label">Major Name:</label> <input
				type="text" id="major-name" style="width: 200px" /><br /> <input
				type="submit" value="Save" id="saveMajorForm" /> <input
				type="button" value="Cancel" id="cancelMajorForm"
				onclick="document.getElementById('majorForm').className = 'hide';
			document.getElementById('major-detail-table').className = 'show';" />
		</form>
	</div>
	<!-- Major Form -->

	<!-- Student Form -->
	<div class="hide" id="studentForm">
		<form action="javascript:saveStudent();" id="newStudentForm">
			<label for="Student-name" id="label">Student Name:</label> <input
				type="text" id="student-name" style="width: 200px" /><br /> <label
				for="selectMajor" id="label3">Select Major:</label> <select
				id="major" name="major">
				<option th:each="major : ${majorList}" th:value="${major.boId}"
					th:text="${major.name}"></option>
			</select> <input type="submit" value="Save" id="saveStudentForm" /> <input
				type="button" value="Cancel" id="cancelStudentForm"
				onclick="document.getElementById('studentForm').className = 'hide'; document.getElementById('student-detail-table').className = 'show';" />
		</form>
	</div>
	<!-- Student Form -->

	<!--  get detail course -->
	<div th:if="${course!=NULL}" id="course-detail-table" class="hide">
		<table style="width: 40%;">
			<tr th:if="${course!='INVALID'}" th:value="${course.id}"
				id="detail-course-id">
				<td>Course BoId:</td>
				<td th:text="${course.boId}"></td>
			</tr>
			<tr th:if="${course!='INVALID'}">
				<td>Course Name:</td>
				<td th:text="${course.name}"></td>
			</tr>

			<tr th:if="${course!='INVALID'}">
				<td>Course Fee:</td>
				<td th:text="${course.fee}"></td>
			</tr>

		</table>
	</div>

	<!-- section detail table -->
	<div th:if="${section!=NULL}" id="section-detail-table" class="hide">
		<div class="cardPannel">
			<div class="cardContainer">
				<span><u>Section Details</u></span>
				<table style="width: 100%;">
					<tr>
						<th>Name:</th>
						<th>Weekly Open</th>
						<th>Start Date</th>
						<th>Finish Date</th>
						<th>Start Time</th>
						<th>Finish Time</th>
					</tr>
					<tr th:if="${section!='INVALID'}" th:value="${section.id}"
						id="detail-section-id">
						<td th:text="${section.name}"></td>
						<td th:text="${section.dayType}"></td>
						<td th:text="${section.startDate}"></td>
						<td th:text="${section.endDate}"></td>
						<td th:text="${section.startTime}"></td>
						<td th:text="${section.endTime}"></td>
					</tr>
				</table>
			</div>
		</div>

		<div class="cardPannel">
			<div class="cardContainer">

				<span><u>Course Details</u></span>
				<table style="width: 50%;">
					<tr>
						<th>Name:</th>
						<th>Fee</th>
					</tr>
					<tr th:if="${section.course!='INVALID'}" th:value="${section.id}"
						id="detail-section-id">
						<td th:text="${section.course.name}"></td>
						<td th:text="${section.course.fee}"></td>
					</tr>
				</table>
			</div>
		</div>

		<div class="cardPannel">
			<div class="cardContainer">
				<span><u>Instructors Details</u></span>
				<table style="width: 50%;">
					<tr>
						<th>Name:</th>
						<th>Position</th>
					</tr>


					<tr th:if="${section!='INVALID'}" th:value="${section.id}"
						id="detail-section-id" th:each="employee:${section.employeeList}">
						<td th:text="${employee.name}"></td>
						<td th:text="${employee.position}"></td>
					</tr>
				</table>
			</div>
		</div>

		<div class="container">
			<input type="submit" value="Register" id="addNewButton1"
				class="button blue"
				th:onclick="'getDetail(\''+${section.boId}+'\',\''+'REGISTER'+'\')'" />

		</div>
		<!-- <tr th:if="${section!='INVALID'}" th:value="${section.id}"
				id="detail-section-id">
				<td>Section BoId:</td>
				<td th:text="${section.boId}" style=""></td>

			</tr>

			<tr th:if="${section!='INVALID'}">
				<td>Section Name:</td>
				<td th:text="${section.name}"></td>
			</tr>

			<tr th:if="${section!='INVALID'}">
				<td>Open At:</td>
				<td th:text="${section.dayType}"></td>
			</tr>

			<tr th:if="${section!='INVALID'}">
				<td>State Date:</td>
				<td th:text="${section.startDate}"></td>
			</tr>

			<tr th:if="${section!='INVALID'}">
				<td>End Date:</td>
				<td th:text="${section.endDate}"></td>
			</tr>

			<tr th:if="${section!='INVALID'}">
				<td>State Time:</td>
				<td th:text="${section.startTime}"></td>
			</tr>

			<tr th:if="${section!='INVALID'}">
				<td>End Time:</td>
				<td th:text="${section.endTime}"></td>
			</tr>

			<tr th:if="${section.course!='INVALID'}">
				<td>Course Name:</td>
				<td th:if="${section.course!=NULL}" th:text="${section.course.name}"></td>
			</tr>


			<tr th:if="${section.course!='INVALID'}">
				<td>Course Fee:</td>
				<td th:text="${section.course.fee}"></td>
			</tr>

			<tr th:if="${section.employeeList!='INVALID'} ">
				<td>Teacher Name:</td>
				<td th:each="employee:${section.employeeList}"><span
					th:text="${employee.name}">:</span> Position:<span
					th:text="${employee.position}"></span></td>
			</tr>
			<tr>
				<td><input type="submit" value="Register" id="addNewButton1"
					th:onclick="'getDetail(\''+${section.boId}+'\',\''+'REGISTER'+'\')'" /></td>
			</tr>
		</table>
 -->
	</div>

	<div th:if="${staff!=NULL}" id="staff-detail-table" class="show">
		<table style="width: 40%;">
			<tr th:if="${staff!='INVALID'}" th:value="${staff.id}"
				id="detail-staff-id">
				<td>Staff BoId:</td>
				<td th:text="${staff.boId}" style=""></td>
				<td><input type="submit" value="Add New" id="addNewButton2"
					onclick="getNewStaffForm()" /></td>
			</tr>
			<tr th:if="${staff!='INVALID'}">
				<td>Staff Name:</td>
				<td th:text="${staff.name}"></td>
			</tr>
			<tr th:if="${staff!='INVALID'}">
				<td>Staff Department Name:</td>
				<td th:if="${staff.department!=NULL}"
					th:text="${staff.department.name}"></td>
			</tr>
		</table>
	</div>

	<div th:if="${major!=NULL}" id="major-detail-table" class="hide">
		<table style="width: 40%;">
			<tr th:if="${major!='INVALID'}" th:value="${major.id}"
				id="detail-major-id">
				<td>Major BoId:</td>
				<td th:text="${major.boId}"></td>
				<td><input type="submit" value="Add New" id="addNewButton"
					onclick="addNewMajor()" /></td>
			</tr>
			<tr th:if="${major!='INVALID'}">
				<td>Major Name:</td>
				<td th:text="${major.name}"></td>
			</tr>
		</table>
	</div>

	<div th:if="${student!=NULL}" id="student-detail-table" class="hide">
		<table style="width: 40%;">
			<tr th:if="${student!='INVALID'}" th:value="${student.id}"
				id="detail-student-id">
				<td>Student BoId:</td>
				<td th:text="${student.boId}" style=""></td>
				<td><input type="submit" value="Add New" id="addNewButton"
					onclick="getNewStudentForm()" /></td>
			</tr>
			<tr th:if="${student!='INVALID'}">
				<td>Student Name:</td>
				<td th:text="${student.name}"></td>
			</tr>
			<tr th:if="${student!='INVALID'}">
				<td>Student Major Name:</td>
				<td th:if="${student.major!=NULL}" th:text="${student.major.name}"></td>
			</tr>
		</table>
	</div>

	<!-- get All Section Detail Table -->
	<div th:if="${sectionList!=NULL}" id="section-list-detail-table"
		class="hide">
		<span><u>Section Details</u></span>
		<table style="width: 100%;">
			<tr>
				<th>Name:</th>
				<th>Weekly Open</th>
				<th>Start Date</th>
				<th>Finish Date</th>
				<th>Start Time</th>
				<th>Finish Time</th>
			</tr>
			<tr th:if="${sectionList!='INVALID'}"
				th:each="section:${sectionList}" id="detail-section-list-id">
				<td th:text="${section.name}"></td>
				<td th:text="${section.dayType}"></td>
				<td th:text="${section.startDate}"></td>
				<td th:text="${section.endDate}"></td>
				<td th:text="${section.startTime}"></td>
				<td th:text="${section.endTime}"></td>
			</tr>
		</table>
	</div>


	<!-- get All Course Detail Table -->
	<div th:if="${courseList!=NULL}" id="course-list-detail-table"
		class="hide">
		<span><u>Course Details</u></span>
		<table style="width: 100%;">
			<tr>
				<th>Id:</th>
				<th>BoId:</th>
				<th>Name:</th>
				<th>Fee:</th>
			</tr>
			<tr th:if="${courseList!='INVALID'}" th:each="course:${courseList}"
				id="detail-section-list-id">
				<td th:text="${course.id}"></td>
				<td th:text="${course.boId}"></td>
				<td th:text="${course.name}"></td>
				<td th:text="${course.fee}"></td>

			</tr>
		</table>
	</div>

	<!-- get All Employee Detail Table -->
	<div class="hide" th:if="${employeeList!=NULL}"
		id="employee-list-detail-table">
		<span><u>Employee Details</u></span>
		<table style="width: 100%;">
			<tr>
				<th>Id:</th>
				<th>BoId:</th>
				<th>Name:</th>
				<th>Address:</th>
				<th>Age:</th>
				<th>Email:</th>
				<th>Password:</th>
				<th>Phone Number:</th>
				<th>Position:</th>
				<th>Salary:</th>
			</tr>
			<tr th:if="${employeeList!='INVALID'}"
				th:each="employee:${employeeList}" id="detail-employee-list-id">
				<td th:text="${employee.id}"></td>
				<td th:text="${employee.boId}"></td>
				<td th:text="${employee.name}"></td>
				<td th:text="${employee.address}"></td>
				<td th:text="${employee.age}"></td>
				
				
				<td><span th:if="${employee.position!='ORGANIZER'}"
					th:text="${employee.email}"></span></td>
					
				<td><span th:if="${employee.position=='ORGANIZER'}"
					th:text="${employee.position}"></span><span
					th:if="${employee.position!='ORGANIZER'}"
					th:text="${employee.position}"></span></td>
				<td th:text="${employee.phoneNumber}"></td>
				<td th:text="${employee.position}"></td>
				<td th:text="${employee.salary}"></td>
			</tr>
		</table>
	</div>

	<!-- get All Student Detail Table -->
	<div class="hide" th:if="${studentList!=NULL}"
		id="student-list-detail-table">
		<span><u>Student Details</u></span>
		<table style="width: 100%;">
			<tr>
				<th>Id:</th>
				<th>BoId:</th>
				<th>Name:</th>
				<th>Address:</th>
				<th>Age:</th>
				<th>Email:</th>
				<th>Phone Number:</th>
				<th>Description:</th>
				<th>Enroll Type:</th>
			</tr>
			<tr th:if="${studentList!='INVALID'}"
				th:each="student:${studentList}" id="detail-student-list-id">
				<td th:text="${student.id}"></td>
				<td th:text="${student.boId}"></td>
				<td th:text="${student.name}"></td>
				<td th:text="${student.address}"></td>
				<td th:text="${student.age}"></td>
				<td th:text="${student.email}"></td>
				<td th:text="${student.phoneNumber}"></td>
				<td th:text="${student.description}"></td>
				<td th:text="${student.studentStatus}"></td>
			</tr>
		</table>
	</div>

	<!-- get All Payment Detail Table -->
	<div th:if="${paymentList!=NULL}" id="payment-list-detail-table"
		class="hide">
		<span><u>Payment Details</u></span>
		<table style="width: 100%;">
			<tr>
				<th>Id:</th>
				<th>BoId:</th>
				<th>Name:</th>
				<th>Fee:</th>
				<th>Discount</th>
				<th>Description</th>
			</tr>
			<tr th:if="${paymentList!='INVALID'}"
				th:each="payment:${paymentList}" id="detail-payment-list-id">
				<td th:text="${payment.id}"></td>
				<td th:text="${payment.boId}"></td>
				<td th:text="${payment.name}"></td>
				<td th:text="${payment.fee}"></td>
				<td th:text="${payment.discount}"></td>
				<td th:if="${payment.discription!=NULL}"
					th:text="${payment.discription}"></td>
			</tr>
		</table>

	</div>
	
	 <div  id="section-form" class="hide">
			<table align="center">
				<tr>
					<td colspan="2"><label for="Student-form-title">
							Section  Form</label></td>
				</tr>
				<tr>
					<td><label for="name" id="label"> Name:</label></td>
					<td><input type="text" id="name" style="width: 200px" /></td>
				</tr>
				<tr>
					<td><label for="day-type" id="label">Day:</label></td>
					<td><input type="text" id="dayType"
						style="width: 200px" /></td>
				</tr>
				<tr>
					<td><label for="start-date" id="label"> Start Date:</label></td>
					<td><input type="date" id="startDate"
						style="width: 200px" /></td>
				</tr>
				<tr>
					<td><label for="end-date" id="label">End Date:
							</label></td>
					<td><input type="date" id="endDate"
						style="width: 200px" /></td>
				</tr>
				<tr>
					<td><label for="start-time" id="label"> Start Time:</label></td>
					<td><input type="date" id="startTime" style="width: 200px" /></td>
				</tr>
				<tr>
					<td><label for="end-time" id="label"> End Time:</label></td>
					<td><input type="date" id="endTime" style="width: 200px" /></td>
				</tr>
			</table>
	
	</div>
	
	
	<div  id="employee-form" class="hide">
			<table align="center">
				<tr>
					<td colspan="2"><label for="Student-form-title">
							Employee Form</label></td>
				</tr>
				<tr>
					<td><label for="employee-name" id="label"> Name:</label></td>
					<td><input type="text" id="name" style="width: 200px" /></td>
				</tr>
				<tr>
					<td><label for="employee-address" id="label">Address:</label></td>
					<td><input type="text" id="address"
						style="width: 200px" /></td>
				</tr>
				<tr>
					<td><label for="employee-age" id="label"> Age:</label></td>
					<td><input type="number" id="age"
						style="width: 200px" /></td>
				</tr>
				<tr>
					<td><label for="employee-email" id="label">Email:
							</label></td>
					<td><input type="email" id="email"
						style="width: 200px" /></td>
				</tr>
				<tr>
					<td><label for="employee-password" id="label"> Password</label></td>
					<td><input type="password" id="student-age" style="width: 200px" /></td>
				</tr>
				<tr>
					<td><label for="employee-position" id="label"> Position</label></td>
					<td><input type="text" id="position" style="width: 200px" /></td>
				</tr>
				<tr>
					<td><label for="employee-salary" id="label"> Salary:</label></td>
					<td><input type="text" id="salary" style="width: 200px" /></td>
				</tr>
			</table>
	</div>
	
	
	
	<div  id="course-form" class="hide">
			<table align="center">
				<tr>
					<td colspan="2"><label for="course-form-title">
							Course Form</label></td>
				</tr>
				<tr>
					<td><label for="course-name" id="label"> Name:</label></td>
					<td><input type="text" id="name" style="width: 200px" /></td>
				</tr>
				<tr>
					<td><label for="course-fee" id="label">Fee:</label></td>
					<td><input type="number" id="fee"
						style="width: 200px" /></td>
				</tr>

			</table>
	</div>
	
	
	
	<!--  <div  id="payment-form" class="hide">
			<table align="center">
				<tr>
					<td colspan="2"><label for="course-form-title">
							Payment Form</label></td>
				</tr>
				<tr>
					<td><label for="payment-name" id="label"> Name:</label></td>
					<td><input type="text" id="name" style="width: 200px" /></td>
				</tr>
				<tr>
					<td><label for="payment-fee" id="label">Fee:</label></td>
					<td><input type="number" id="fee"
						style="width: 200px" /></td>
				</tr>
				<tr>
					<td><label for="payment-discount" id="label"> Discount:</label></td>
					<td><input type="text" id="discount" style="width: 200px" /></td>
				</tr>
				<tr>
					<td><label for="payment-description" id="label">Description:</label></td>
					<td><<textarea rows="4" cols="50" id="description">
					</textarea></td>
				</tr>
			</table>
	</div>
	
	<div  id="batch-form" class="hide">
			<table align="center">
				<tr>
					<td colspan="2"><label for="Student-form-title">
							Batch  Form</label></td>
				</tr>
				<tr>
					<td><label for="batch-name" id="label"> Name:</label></td>
					<td><input type="text" id="name" style="width: 200px" /></td>
				</tr>
				<tr>
					<td><label for="batch-start-date" id="label"> Start Date:</label></td>
					<td><input type="date" id="startDate"
						style="width: 200px" /></td>
				</tr>
				<tr>
					<td><label for="batch-end-date" id="label">End Date:
							</label></td>
					<td><input type="date" id="endDate"
						style="width: 200px" /></td>
				</tr>
				</table>
	
	</div> -->
	
</div>