<div id="detail-table" class="hide">

	<!-- Department Form -->
	<div class="hide" id="registerForm">
		<form action="javascript:saveStudent();" id="newStudentForm">
			<h4>
				<label for="Student-form-title">Student Registration Form</label>
			</h4>
			<label for="Student-name" id="label"> Name:</label> <input
				type="text" id="student-name" style="width: 200px" /><br /> <label
				for="Student-name" id="label">Address:</label> <input type="text"
				id="student-address" style="width: 200px" /><br /> <label
				for="Student-email" id="label"> Email:</label> <input type="email"
				id="student-email" style="width: 200px" /><br /> <label
				for="Student-phonenumbe" id="label">Phone Number:</label> <input
				type="number" id="student-phonenumber" style="width: 200px" /><br />

			<label for="Student-name" id="label"> Name:</label> <input
				type="text" id="student-name" style="width: 200px" /><br /> <label
				for="Student-name" id="label">Address:</label> <input type="text"
				id="student-address" style="width: 200px" /><br /> <label
				for="Student-age" id="label"> Age:</label> <input type="number"
				id="student-age" style="width: 200px" /><br /> <label
				for="Student-take-course" id="label">Course:</label> <br /> <label
				for="course-name" id="label" th:if="${register!=NULL}">Course
				Name:<span th:if="${register.course!=NULL }"
				th:text="${register.course.name}"></span>
			</label> <input type="submit" value="REGISTER" id="saveStudentForm" /> <input
				type="button" value="Cancel" id="cancelStudenttForm"
				onclick="document.getElementById('registerForm').className = 'hide';
			document.getElementById('section-detail-table').className = 'show';" />
		</form>
	</div>
	<!-- Department Form -->

	<!-- Teacher Form -->
	<div class="hide" id="teacherForm">
		<form action="javascript:saveTeacher();" id="newTeacherForm">
			<label for="Teacher-name" id="label">Teacher Name:</label> <input
				type="text" id="teacher-name" style="width: 200px" /><br /> <label
				for="selectDepartment" id="label1">Select Department:</label> <select
				id="department" name="department">
				<option th:each="department : ${departmentList}"
					th:value="${department.boId}" th:text="${department.name}">
				</option>
			</select> <input type="submit" value="Save" id="saveTeacherForm" /> <input
				type="button" value="Cancel" id="cancelTeacherForm"
				onclick="document.getElementById('teacherForm').className = 'hide';
			document.getElementById('teacher-detail-table').className = 'show';" />
		</form>
	</div>
	<!-- Teacher Form -->

	<!-- Staff Form -->
	<div class="hide" id="staffForm">
		<form action="javascript:saveStaff();" id="newStaffForm">
			<label for="Staff-name" id="label">Staff Name:</label> <input
				type="text" id="staff-name" style="width: 200px" /><br /> <label
				for="selectDepartment" id="label2">Select Department:</label> <select
				id="department1" name="department">
				<option th:each="department : ${departmentList}"
					th:value="${department.boId}" th:text="${department.name}">
				</option>
			</select> <input type="submit" value="Save" id="saveStaffForm" /> <input
				type="button" value="Cancel" id="cancelStaffForm"
				onclick="document.getElementById('staffForm').className = 'hide';
			document.getElementById('staff-detail-table').className = 'show';" />
		</form>
	</div>
	<!-- Staff Form -->

	<!-- Major Form -->
	<div class="hide" id="majorForm">
		<form action="javascript:saveMajor();" id="newMajorForm">
			<label for="Major-name" id="label">Major Name:</label> <input
				type="text" id="major-name" style="width: 200px" /><br /> <input
				type="submit" value="Save" id="saveMajorForm" /> <input
				type="button" value="Cancel" id="cancelMajorForm"
				onclick="document.getElementById('majorForm').className = 'hide';
			document.getElementById('major-detail-table').className = 'show';" />
		</form>
	</div>
	<!-- Major Form -->

	<!-- Student Form -->
	<div class="hide" id="studentForm">
		<form action="javascript:saveStudent();" id="newStudentForm">
			<label for="Student-name" id="label">Student Name:</label> <input
				type="text" id="student-name" style="width: 200px" /><br /> <label
				for="selectMajor" id="label3">Select Major:</label> <select
				id="major" name="major">
				<option th:each="major : ${majorList}" th:value="${major.boId}"
					th:text="${major.name}"></option>
			</select> <input type="submit" value="Save" id="saveStudentForm" /> <input
				type="button" value="Cancel" id="cancelStudentForm"
				onclick="document.getElementById('studentForm').className = 'hide';
			document.getElementById('student-detail-table').className = 'show';" />
		</form>
	</div>
	<!-- Student Form -->

	<!--  get detail course -->
	<div th:if="${course!=NULL}" id="course-detail-table" class="hide">
		<table style="width: 40%;">
			<tr th:if="${course!='INVALID'}" th:value="${course.id}"
				id="detail-course-id">
				<td>Course BoId:</td>
				<td th:text="${course.boId}"></td>
			</tr>
			<tr th:if="${course!='INVALID'}">
				<td>Course Name:</td>
				<td th:text="${course.name}"></td>
			</tr>

			<tr th:if="${course!='INVALID'}">
				<td>Course Fee:</td>
				<td th:text="${course.fee}"></td>
			</tr>

		</table>
	</div>

	<!-- section detail table -->
	<div th:if="${section!=NULL}" id="section-detail-table" class="hide">
		<table style="width: 40%;">
			<tr th:if="${section!='INVALID'}" th:value="${section.id}"
				id="detail-section-id">
				<td>Section BoId:</td>
				<td th:text="${section.boId}" style=""></td>

			</tr>

			<tr th:if="${section!='INVALID'}">
				<td>Section Name:</td>
				<td th:text="${section.name}"></td>
			</tr>

			<tr th:if="${section!='INVALID'}">
				<td>Open At:</td>
				<td th:text="${section.dayType}"></td>
			</tr>

			<tr th:if="${section!='INVALID'}">
				<td>State Date:</td>
				<td th:text="${section.startDate}"></td>
			</tr>

			<tr th:if="${section!='INVALID'}">
				<td>End Date:</td>
				<td th:text="${section.endDate}"></td>
			</tr>

			<tr th:if="${section!='INVALID'}">
				<td>State Time:</td>
				<td th:text="${section.startTime}"></td>
			</tr>

			<tr th:if="${section!='INVALID'}">
				<td>End Time:</td>
				<td th:text="${section.endTime}"></td>
			</tr>

			<tr th:if="${section.course!='INVALID'}">
				<td>Course Name:</td>
				<td th:if="${section.course!=NULL}" th:text="${section.course.name}"></td>
			</tr>


			<tr th:if="${section.course!='INVALID'}">
				<td>Course Fee:</td>
				<td th:text="${section.course.fee}"></td>
			</tr>

			<tr th:if="${section.employeeList!='INVALID'} ">
				<td>Teacher Name:</td>
				<td th:each="employee:${section.employeeList}"><span
					th:text="${employee.name}">:</span> Position:<span
					th:text="${employee.position}"></span></td>
			</tr>
			<tr>
				<td><input type="submit" value="Register" id="addNewButton1"
					th:onclick="'getDetail(\''+${section.boId}+'\',\''+'REGISTER'+'\')'" /></td>
			</tr>
		</table>

	</div>

	<div th:if="${staff!=NULL}" id="staff-detail-table" class="hide">
		<table style="width: 40%;">
			<tr th:if="${staff!='INVALID'}" th:value="${staff.id}"
				id="detail-staff-id">
				<td>Staff BoId:</td>
				<td th:text="${staff.boId}" style=""></td>
				<td><input type="submit" value="Add New" id="addNewButton2"
					onclick="getNewStaffForm()" /></td>
			</tr>
			<tr th:if="${staff!='INVALID'}">
				<td>Staff Name:</td>
				<td th:text="${staff.name}"></td>
			</tr>
			<tr th:if="${staff!='INVALID'}">
				<td>Staff Department Name:</td>
				<td th:if="${staff.department!=NULL}"
					th:text="${staff.department.name}"></td>
			</tr>
		</table>
	</div>

	<div th:if="${major!=NULL}" id="major-detail-table" class="hide">
		<table style="width: 40%;">
			<tr th:if="${major!='INVALID'}" th:value="${major.id}"
				id="detail-major-id">
				<td>Major BoId:</td>
				<td th:text="${major.boId}"></td>
				<td><input type="submit" value="Add New" id="addNewButton"
					onclick="addNewMajor()" /></td>
			</tr>
			<tr th:if="${major!='INVALID'}">
				<td>Major Name:</td>
				<td th:text="${major.name}"></td>
			</tr>
		</table>
	</div>

	<div th:if="${student!=NULL}" id="student-detail-table" class="hide">
		<table style="width: 40%;">
			<tr th:if="${student!='INVALID'}" th:value="${student.id}"
				id="detail-student-id">
				<td>Student BoId:</td>
				<td th:text="${student.boId}" style=""></td>
				<td><input type="submit" value="Add New" id="addNewButton"
					onclick="getNewStudentForm()" /></td>
			</tr>
			<tr th:if="${student!='INVALID'}">
				<td>Student Name:</td>
				<td th:text="${student.name}"></td>
			</tr>
			<tr th:if="${student!='INVALID'}">
				<td>Student Major Name:</td>
				<td th:if="${student.major!=NULL}" th:text="${student.major.name}"></td>
			</tr>
		</table>
	</div>
</div>